body {
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(6, 189, 152));
}

.logo{
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    padding-top: 12px;
}

h1 {
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 955px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.message {
    background-color: grey;
    width: 24%;
    padding: 10px;
    margin: 17px 10px;
    border: 1px solid black;
    border-radius: 7px;
}

.left {
    background-image: linear-gradient(to left top, rgb(255, 162, 0), rgb(255, 255, 255));
    float: left;
    clear: both;
}

.right {
    background-image: linear-gradient(to right top, rgb(0, 145, 255), rgb(255, 255, 255));
    float: right;
    clear: both;
}

.center {
    display: block;
    clear: both;
}

#sendContainer {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInput {
    width: 83%;
    border: 1.5px solid black;
    border-radius: 7px;
    height: 34px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button {
    margin: 0 5px;
    width: 9%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 7px;
    height: 34px;
}